
:root{
    --bg1:rgb(168, 168, 168);
}
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #282c34;
    padding: 1rem;
    text-align: center;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#navbar ul li {
    margin: 0 1rem;
}

#navbar ul li a {
    color: #b8b8b8;
    text-decoration: none;
}
#navbar ul li a:hover {
    color: #ffffff;
    text-decoration: none;
}

#welcome-section {
    height: 100vh; /* Full height of the viewport */
    
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: #7B8AFF;
    color: rgb(255, 255, 255);
}

#welcome-section h1{
    text-align: center;
    padding-top: 20%;
    font-size: 50px;
}

#projects {
    padding: 2rem;
    background-color: #f7f7f7;
}

.project-tile {
    margin-bottom: 2rem;
}

.project-tile img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

footer {
    background-color: #282c34;
    color: white;
    text-align: center;
    padding: 1rem 0;
}
.project {
    display: flex;
    flex: basis 1 / 2;;
}
.project-desc{
   justify-content: center;
   margin-left:50px ;


}
#video{
    width: 100%;
}
/* Media Queries */
@media (max-width: 600px) {
    #navbar ul {
        flex-direction: column;
    }
    #navbar ul li a {
        color: #b8b8b8;
        font-size: 10px;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        text-decoration: none;
    }
    .project-tile {
        margin-bottom: 1rem;
    }
}

p {
  text-shadow: 0 0 7px rgba(255,255,255,.3), 0 0 3px rgba(255,255,255,.3);
}

.container {
  color: #e5e5e5;
  font-size: 2rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 100px;
}

.animation {
  height:50px;
  overflow:hidden;
  margin-left: 1rem;
}

.animation > div > div {
  padding: 0.25rem 0.75rem;
  height:2.81rem;
  margin-bottom: 2.81rem;
  display:inline-block;
}

.animation div:first-child {
  animation: text-animation 8s infinite;
}

.first div {
  background-color:#f1f1f1;
  color: #131313;
}
.second div {
  background-color:#585151;
}
.third div {
  background-color:#c10528;
}

@keyframes text-animation {
  0% {margin-top: 0;}
  10% {margin-top: 0;}
  20% {margin-top: -5.62rem;}
  30% {margin-top: -5.62rem;}
  40% {margin-top: -11.24rem;}
  60% {margin-top: -11.24rem;}
  70% {margin-top: -5.62rem;}
  80% {margin-top: -5.62rem;}
  90% {margin-top: 0;}
  100% {margin-top: 0;}
}

@media (max-width:768px){
    #welcome-section{
        height: 100vh;
    }
    #welcome-section h1{
        font-size: 50px;
        padding-top: 50%;
        margin-left: 10%;
        text-align: center;
    }
    .container{
        height: 10vh;
        font-size: 1rem;
       
    }
    .first div{
        width: 4rem;
        font-size: 1rem;
    }
    .second div{
        width: 9rem;
        font-size: 0.8rem;
    }
    .third div{
        width: 9rem;
        font-size: 0.8rem;
    }
    #main1{
        margin-top: 15%;
    }
    #nav-head{
        font-size: 1.5rem;
    }
    .project{
        font-size: 0.8rem;
    }
    .project h2{
        color: #196a61;
    }
    #video{
        width: 100%;
        height: auto;
    }
    @keyframes text-animation {
        0% {margin-top: 0;}
        10% {margin-top: 0;}
        20% {margin-top: -2.62rem;}
        30% {margin-top: -2.62rem;}
       
        60% {margin-top: -8rem;}
       
        
        90% {margin-top: -8rem;}
        100% {margin-top: 0;}
    }
    .project {
        display: flex;
        flex: basis 1 / 2;;
        flex-direction: column;
    }
}

footer {
    background-color: #282c34;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 1rem;
}

footer ul li a {
    color: #61dafb;
    text-decoration: none;
}
